/* Section */

.section {
    padding-top: 0;
    padding-bottom: 94px;
}

.inner {
    background-color: var(--section-color);
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-title {
    padding-top: 0;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}