/* -------Features-------- */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature-list__item {
    width: 100%;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
         }
    
    @media screen and (min-width: 1200px) {
             flex-basis: calc((100% - 90px) / 4);
         }
    
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
             }
         }
}

.caption {
    padding-top: 94px;
}

.feature-list__title {
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.feature-list__text {
    color: var(--title-text-collor);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature-list__thumb {
    // width: 270px;
    width: 100%;
    height: 120px;
    background-color: var(--section-color);
    margin-bottom: 30px;
}

.feature-list__icon {
    @media screen and (max-width: 767px) {
            margin: 25px 190px;
        }
    @media screen and (min-width: 768px) {
            margin: 25px 142px;
        }    
     @media screen and (min-width: 1200px) {
            margin: 25px 100px;
         }    
}