/* --------------------------Footer----------------------- */

.footer-container {
    display: block;
    // align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px 165px;
            gap: 60px 165px;
        }
    @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            text-align: left;
            gap: 70px;
            align-items: baseline;
}    
}

.contacts {
    // align-items: baseline;
    // display: block;
    // margin: 0;
    // padding: 0px;
    // list-style: none;
    @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
}

.logofooter {
    // display: inline-block;
    // margin-right: 0;
    // margin-bottom: 20px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    align-items: center;
    text-align: center;
    color: var(--primary-white-color);
}

.footer {
    // padding-top: 60px;
    // padding-bottom: 60px;
    // margin-right: auto;
    // align-items: baseline;
    // display: flex;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 60px 0;
    background: var(--title-hero-color);
    color: var(--primary-white-color);
}

.footer__logo--color {
    color: var(--primary-white-color);
}

.logo__accent {
    color: var(--akcent-color);
}

.address {
    list-style: none;
} 

.address__link {
    color: var(--adress-link-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--akcent-color);
        }
}

.address__title {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

/*---приєднуйтесь---*/

.join {
    display: block;
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
                margin-top: 0px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
}        
}

.join-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    @media screen and (min-width: 768px) {
                padding-bottom: 10px;  
    }
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer-icon {
    display: flex;
    // padding: 0;
    // margin: 0;
    // list-style: none;
    // align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-icon__item {
    display: flex;
    width: 44px;
    height: 44px;
}

.footer-icon__link {
    display: flex;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--primary-white-color);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    gap: 10px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--akcent-color);
        }
}

.footer-icon__icons {
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--primary-white-color);
        }
}

/*---футер форм---*/

.footer-submit {
    margin-top: 60px;
@media (min-width: 768px) {
            margin-top: 0px;
            padding: 0;
    }
}

.footer-submit-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(---primary-white-color);
}

// .socials .title {
//     display: flex;
//     color: var(--primary-white-color);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;
// }

.box {
    // font-style: normal;
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .subscription {
        display: flex;
    }
}

.subscription__email {
    width: 100%;
    margin: 0;
    padding: 13px 16px;
    font-family: 'Roboto', sans-serif;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: 20px;
    // align-items: center;
    // letter-spacing: 0.03em;
    background-color: var(--title-hero-color);
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @media (min-width: 1200px) {
                width: 358px;
                height: 50px;
                margin-right: 12px;
}
}

.subscription__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // display: flex;
    // width: 200px;
    border: none;
    // cursor: pointer;
    color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    // padding: 10px 10px 10px 28px;
    letter-spacing: 0.06em;
    background-color: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    padding: 8px 29px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--active-button-color);
        }
    @media (min-width: 1200px) {
    margin-top: 0px;
    gap: 10px;
        }    
     }

.subscription__icon {
    color: var(--primary-white-color);
    margin-left: 10px;
}