/* Hero */

.hero {
    background-color: var(--title-hero-color);
    text-align: center;
    padding: 200px 0;
    list-style: none;
    outline: 2px solid var(--title-hero-color);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 480px) {
        font-size: 26px;
        line-height: 1.62;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.picture {
    // max-width: 1600px;
    // height: 600px;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0 auto;
    padding: 118px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/header/Headermobile.jpeg');
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/header/Headermobile@2x.jpeg');
        }

        @media screen and (min-width: 480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/header/Headertablet.jpeg');
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/header/Headertablet@2x.jpeg');
        }
    }

    @media screen and (min-width: 768px) {
        max-width: 1600px;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/Imgi1.jpeg');
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/header/img2x.jpeg');
        }
    }
}