:root {
    --primary-text-color: #212121;
    --title-text-collor: #757575;
    --title-hero-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --akcent-color: #2196F3;
    --logo-color: #000000;
    --section-color: #F5F4FA;
    --adress-link-color: rgba(255, 255, 255, 0.6);
    --active-button-color: #188CE8;
    --border-header-color: #ECECEC;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --border-works-color: #EEEEEE;
    --color-icon: #AFB1B8;
}